<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="/css/style.css">
        <title>
            HelpPage
        </title>
   
        <link rel="stylesheet" type = "text/css" href="./style.css">
    </head>
    <body>
        <div class="main-content">{{>header}}</div>
       
    </body>
</html>