<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <title>
            HomePage
        </title>


        
    </head>
    <body>
        <div class="main-content">{{>header}}

        <form id = 'formAddress' style="padding-top:20px;">
            <input type='text' placeholder="location">
            <button type="submit">SUBMIT</button>
        </form>   

        <p id="forecastMessage"></p>
        <p id="errorMessage"></p>
    </div>

    <script src = "/js/app_script.js"></script>
    </body>
</html>