
.main-content{
    padding: 20px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

input{
    border: 1px solid #cccccc;
    padding: 8px;
}

button{
    padding: 8px;
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
}
